@page
@model Colectia_mea_de_vin.Pages.Vinuri.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vin.Nume" class="control-label"></label>
                <input asp-for="Vin.Nume" class="form-control" />
                <span asp-validation-for="Vin.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.Producator" class="control-label"></label>
                <input asp-for="Vin.Producator" class="form-control" />
                <span asp-validation-for="Vin.Producator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.Regiune" class="control-label"></label>
                <input asp-for="Vin.Regiune" class="form-control" />
                <span asp-validation-for="Vin.Regiune" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.Tip" class="control-label"></label>
                <input asp-for="Vin.Tip" class="form-control" />
                <span asp-validation-for="Vin.Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.An" class="control-label"></label>
                <input asp-for="Vin.An" class="form-control" />
                <span asp-validation-for="Vin.An" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.Pret" class="control-label"></label>
                <input asp-for="Vin.Pret" class="form-control" />
                <span asp-validation-for="Vin.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.DataCumpararii" class="control-label"></label>
                <input asp-for="Vin.DataCumpararii" class="form-control" />
                <span asp-validation-for="Vin.DataCumpararii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
